soap/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveResult" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LockN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="Savelog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="catpion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rmb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavelogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SavelogResult" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downbox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caption" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downboxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downboxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="querymobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="querymobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="querymobileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryStateResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findtel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findtelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findtelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LockNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStateResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LockNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="caption" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="card" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLockResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qrcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lostCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qrcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lostCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lostCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qrcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qrcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newqrcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changeCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogSoapIn">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="GetLogSoapOut">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:message name="SavelogSoapIn">
    <wsdl:part name="parameters" element="tns:Savelog" />
  </wsdl:message>
  <wsdl:message name="SavelogSoapOut">
    <wsdl:part name="parameters" element="tns:SavelogResponse" />
  </wsdl:message>
  <wsdl:message name="downboxSoapIn">
    <wsdl:part name="parameters" element="tns:downbox" />
  </wsdl:message>
  <wsdl:message name="downboxSoapOut">
    <wsdl:part name="parameters" element="tns:downboxResponse" />
  </wsdl:message>
  <wsdl:message name="querymobileSoapIn">
    <wsdl:part name="parameters" element="tns:querymobile" />
  </wsdl:message>
  <wsdl:message name="querymobileSoapOut">
    <wsdl:part name="parameters" element="tns:querymobileResponse" />
  </wsdl:message>
  <wsdl:message name="QueryStateSoapIn">
    <wsdl:part name="parameters" element="tns:QueryState" />
  </wsdl:message>
  <wsdl:message name="QueryStateSoapOut">
    <wsdl:part name="parameters" element="tns:QueryStateResponse" />
  </wsdl:message>
  <wsdl:message name="findtelSoapIn">
    <wsdl:part name="parameters" element="tns:findtel" />
  </wsdl:message>
  <wsdl:message name="findtelSoapOut">
    <wsdl:part name="parameters" element="tns:findtelResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllState" />
  </wsdl:message>
  <wsdl:message name="GetAllStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLockSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLock" />
  </wsdl:message>
  <wsdl:message name="UpdateLockSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLockResponse" />
  </wsdl:message>
  <wsdl:message name="delCardSoapIn">
    <wsdl:part name="parameters" element="tns:delCard" />
  </wsdl:message>
  <wsdl:message name="delCardSoapOut">
    <wsdl:part name="parameters" element="tns:delCardResponse" />
  </wsdl:message>
  <wsdl:message name="lostCardSoapIn">
    <wsdl:part name="parameters" element="tns:lostCard" />
  </wsdl:message>
  <wsdl:message name="lostCardSoapOut">
    <wsdl:part name="parameters" element="tns:lostCardResponse" />
  </wsdl:message>
  <wsdl:message name="addCardSoapIn">
    <wsdl:part name="parameters" element="tns:addCard" />
  </wsdl:message>
  <wsdl:message name="addCardSoapOut">
    <wsdl:part name="parameters" element="tns:addCardResponse" />
  </wsdl:message>
  <wsdl:message name="changeCardSoapIn">
    <wsdl:part name="parameters" element="tns:changeCard" />
  </wsdl:message>
  <wsdl:message name="changeCardSoapOut">
    <wsdl:part name="parameters" element="tns:changeCardResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <wsdl:input message="tns:GetLogSoapIn" />
      <wsdl:output message="tns:GetLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Savelog">
      <wsdl:input message="tns:SavelogSoapIn" />
      <wsdl:output message="tns:SavelogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downbox">
      <wsdl:input message="tns:downboxSoapIn" />
      <wsdl:output message="tns:downboxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="querymobile">
      <wsdl:input message="tns:querymobileSoapIn" />
      <wsdl:output message="tns:querymobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryState">
      <wsdl:input message="tns:QueryStateSoapIn" />
      <wsdl:output message="tns:QueryStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findtel">
      <wsdl:input message="tns:findtelSoapIn" />
      <wsdl:output message="tns:findtelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllState">
      <wsdl:input message="tns:GetAllStateSoapIn" />
      <wsdl:output message="tns:GetAllStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLock">
      <wsdl:input message="tns:UpdateLockSoapIn" />
      <wsdl:output message="tns:UpdateLockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delCard">
      <wsdl:input message="tns:delCardSoapIn" />
      <wsdl:output message="tns:delCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lostCard">
      <wsdl:input message="tns:lostCardSoapIn" />
      <wsdl:output message="tns:lostCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addCard">
      <wsdl:input message="tns:addCardSoapIn" />
      <wsdl:output message="tns:addCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeCard">
      <wsdl:input message="tns:changeCardSoapIn" />
      <wsdl:output message="tns:changeCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap:operation soapAction="http://tempuri.org/GetLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Savelog">
      <soap:operation soapAction="http://tempuri.org/Savelog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downbox">
      <soap:operation soapAction="http://tempuri.org/downbox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querymobile">
      <soap:operation soapAction="http://tempuri.org/querymobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryState">
      <soap:operation soapAction="http://tempuri.org/QueryState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtel">
      <soap:operation soapAction="http://tempuri.org/findtel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllState">
      <soap:operation soapAction="http://tempuri.org/GetAllState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLock">
      <soap:operation soapAction="http://tempuri.org/UpdateLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCard">
      <soap:operation soapAction="http://tempuri.org/delCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lostCard">
      <soap:operation soapAction="http://tempuri.org/lostCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCard">
      <soap:operation soapAction="http://tempuri.org/addCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeCard">
      <soap:operation soapAction="http://tempuri.org/changeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="http://tempuri.org/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Savelog">
      <soap12:operation soapAction="http://tempuri.org/Savelog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downbox">
      <soap12:operation soapAction="http://tempuri.org/downbox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querymobile">
      <soap12:operation soapAction="http://tempuri.org/querymobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryState">
      <soap12:operation soapAction="http://tempuri.org/QueryState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtel">
      <soap12:operation soapAction="http://tempuri.org/findtel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllState">
      <soap12:operation soapAction="http://tempuri.org/GetAllState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLock">
      <soap12:operation soapAction="http://tempuri.org/UpdateLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCard">
      <soap12:operation soapAction="http://tempuri.org/delCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lostCard">
      <soap12:operation soapAction="http://tempuri.org/lostCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCard">
      <soap12:operation soapAction="http://tempuri.org/addCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeCard">
      <soap12:operation soapAction="http://tempuri.org/changeCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="myService">
    <wsdl:port name="port" binding="tns:ServiceSoap">
      <soap:address location="http://192.168.1.24:8000/service" />
    </wsdl:port>
    <wsdl:port name="port" binding="tns:ServiceSoap12">
      <soap12:address location="http://192.168.1.24:8000/service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>